{% extends "admin/base.html" %}


{% block title %}{{ title }} | {{ site_title|default:_('Chatbot Administration') }}

{% endblock %}

{% block extrastyle %}
{% include "header.html" %}
{% endblock %}

{% block branding %}

{% load static %}
{% load staticfiles %}
	<a href="/"><img id="site-logo" src="{% static "images/logo.png" %}" /></a>


{% endblock %}




{% block breadcrumbs %}

{% include "navbar.html" %}

{% endblock %}

{% block footer %}
</div>
{% include "footer.html" %}
{% endblock %}