{% extends "admin/base_site.html" %}



{% block title %} 
Your Chatbots & Twitterbots | {{ site_title|default:_('Chatbot Administration') }}
{% endblock %}
{% block content %}

    <script> 

    (function($){

        equalheight = function(container){

        var currentTallest = 0,
             currentRowStart = 0,
             rowDivs = new Array(),
             $el,
             topPosition = 0;
         $(container).each(function() {

           $el = $(this);
           $($el).height('auto')
           topPostion = $el.position().top;

           if (currentRowStart != topPostion) {
             for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
               rowDivs[currentDiv].height(currentTallest);
             }
             rowDivs.length = 0; // empty the array
             currentRowStart = topPostion;
             currentTallest = $el.height();
             rowDivs.push($el);
           } else {
             rowDivs.push($el);
             currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
           for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
             rowDivs[currentDiv].height(currentTallest);
           }
         });
        }

        // Making boxes in the same row the same height.
        $(window).load(function() {
          equalheight('.item-wrap');
        });
        $(window).resize(function(){
          equalheight('.item-wrap');
        });

        $(window).load(function() {
          equalheight('.item-wrap-2');
        });
        $(window).resize(function(){
          equalheight('.item-wrap-2');
        });

    })(jQuery);

</script>

    <section class="container-fluid">

        <p>This is an overview of the chatbot setups you currently have. If this is blank, go ahead and create a new chatbot and a setup to go with it.</p>
        <p>If you need some guidance, try the get started page.</p> 

        
    </section>

    <section class="chatbot-setup-index">
    <div class="col-lg-12 index-wrapper">
    <div class="border-segment">
        <h3 class="index-heading">Chatbots</h3>
            <div class="border-segment-wrap">
        {% if chatbots %}
            <ul class="twitbot-index container-fluid  index-listing">
                {% for chatbot in chatbots %} 
                <div class="col-sm-6 col-lg-3">
                <div class="twitbot-item-wrap item-wrap wrap-purple">
                    <h4 class="index-item-header">
                        <a class="title-button" href="/chatbot/{{ chatbot.id }}" title="Go to the chatbot control panel">
                            {{ chatbot.title }}
                        </a>
                        <a class="edit-button-small" href="/chatbot/{{ chatbot.id }}/edit/" title="Edit this chatbot's settings"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="edit-button-small" href="/chatbot/{{ chatbot.id }}/" title="Go to the chatbot's control panel"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </h4>
                    <div class="twitbot-item-contents">
                        <!-- Load in attached configurations, but don't provide a clickable link or the same display if they are not edittable -->
                        {% if chatbot.aiml_config.all %}
                            {% for aiml in chatbot.aiml_config.all %}

                                <{{ aiml.is_public|yesno:"p,a" }} title="{{ aiml.is_public|yesno:"This is a public setup you cannot edit, Edit this Setup" }} "
                                 class="{{ aiml.is_public|yesno:"normal-cursor," }} btn btn-info file-block" href="/admin/chatbot/aiml_config/{{ aiml.id }}">
                                    <small class="list-title">{{ aiml.title }}</small> <br/>
                                </{{ aiml.is_public|yesno:"p,a" }}>
                            {% endfor %}
                        {% else %}
                            <small class="list-title file-block">No Setups Attached</small> <br/>
                        {% endif %}
                    </div>
                </div>
                </div>
                {% endfor %}
            </ul>
        {% elif twitterbots %}
            <div class="not-found">
                <strong>Click on the add button below to create a new chatbot.</strong>
            </div>    
        {% else %}
            <div class="not-found">
                <strong>You don't currently have any Chatbots configured! Go to the <a class="text-warning" href="/chatbot/get-started/">get started</a> section, or click on the add button below.</strong>
            </div>
        {% endif %}

        <a class="btn-primary btn add-chatbot-btn" href="/chatbot/add/">Add a new chatbot <i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </div>
        </div>
    </div>


    
    </section>

 
    <section class="chatbot-setup-index">
    <div class="col-lg-12 index-wrapper">
    <div class="border-segment segment-blue">
        <h3 class="index-heading">Twitterbots</h3>
        <div class="border-segment-wrap">
        {% if twitterbots %}
            <ul class="twitbot-index container-fluid  index-listing">
                {% for twitterbot in twitterbots %} 
                <div class="col-sm-6 col-lg-3">
                <div class="twitbot-item-wrap item-wrap wrap-blue">
                    <h4 class="index-item-header">
                        <a href="/chatbot/{{ twitterbot.id }}" title="Go to the twitterbot control panel">
                            <i title="{{ twitterbot.enabled|yesno:"Chatbot Active, Chatbot Offline" }}" id="enabled-icon" class="fa fa-user {{ twitterbot.enabled|yesno:"icon-active," }}" aria-hidden="true"></i>
                            {{ twitterbot.title }}
                        </a>
                        <a class="edit-button-small" href="/chatbot/{{ twitterbot.id }}/edit/" title="Edit this twitterbot's settings"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a class="edit-button-small" href="/chatbot/{{ twitterbot.id }}/" title="Go to the twitterbot's control panel"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    </h4>
                    <div class="twitbot-item-contents">
                        <!-- Load in attached configurations, but don't provide a clickable link or the same display if they are not edittable -->
                        {% if twitterbot.aiml_config.all %}
                            {% for aiml in twitterbot.aiml_config.all %}

                                <{{ aiml.is_public|yesno:"p,a" }} title="{{ aiml.is_public|yesno:"This is a public setup you cannot edit, Edit this Setup" }} "
                                 class="{{ aiml.is_public|yesno:"normal-cursor," }} btn btn-info file-block" href="/admin/chatbot/aiml_config/{{ aiml.id }}">
                                    <small class="list-title">{{ aiml.title }}</small> <br/>
                                </{{ aiml.is_public|yesno:"p,a" }}>
                            {% endfor %}
                        {% else %}
                            <small class="list-title file-block">No Setups Attached</small> <br/>
                        {% endif %}
                    </div>
                </div>
                </div>
                {% endfor %}
            </ul>
        {% else %}
            <div class="not-found">
                <strong>You don't currently have any twitterbots configured! If you've built a chatbot, click on the button below to add twitter functionality!</strong>
            </div>
        {% endif %}
   

        <a class="btn-primary btn add-chatbot-btn" href="/chatbot/choose_bot/">Evolve chatbot into twitterbot <i class="fa fa-user-plus" aria-hidden="true"></i></a>
        </div>
        </div>
    </div>


    
    </section>
{% endblock content %}