{% extends "admin/base_site.html" %}

{% block title %}
Teacherbot Homepage| {{ site_title|default:_('Chatbot Administration') }}
{% endblock %}

{% block content %}

<section class="container-fluid">
    <h3>Welcome to the teacherbot pilot website!</h3>
    <div class="col-md-4 ">
        <a href="/chatbot/get-started/">
        <div class="image-box">
            <img>
            <h3>Getting Started</h3>
        </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="https://playground.pandorabots.com/en/" target="_blank">
        <div class="image-box">
            <img>
            <h3>Pandora Botmaker</h3>
        </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="mailto:dev.teacherbot@gmail.com?subject=Teacherbot%20Feedback">
        <div class="image-box">
            <img>
            <h3>Feedback</h3>
        </div>
        </a>
    </div>

    
</section>

{% endblock content %}