{% extends "admin/base_site.html" %}

{% block title %}
Teacherbot Homepage| {{ site_title|default:_('Chatbot Administration') }}
{% endblock %}

{% block content %}

<section class="container-fluid">
    <h3>Welcome to the teacherbot pilot website!</h3>
    <p>All our bots will be created and updated on Pandorabots so the first thing to do is <a href="https://playground.pandorabots.com/en/" target="_blank">make a pandorabots account.</a></p>
    <p>Make your way over to the get started tab to learn the ropes!</p>
    <p> Thank you for opting into our pilot service. Your feedback is much appreciated so don't hesitate to contact us at: <a href="mailto:dev.teacherbot@gmail.com?subject=Teacherbot%20Feedback">dev.teacherbot@gmail.com</a>
    
</section>

{% endblock content %}