{% extends "admin/base_site.html" %}

{% block title %} Chatbot Control Panel | {{ site_title|default:_('Chatbot Administration') }}

{% endblock %}


{% block content %}

<div class="container-fluid chatbot-management">
	
	<script type="text/javascript">
		// Insecure method of passing chatbot id to javascript. 
		// But only needs to be fixed if the user base increased hugely.
		var cbot_id = "{{ twitterbot.id }}";
	</script>


	<script>

		////////////////////////////////////////////////////////////////////
		// Tabs for Console/Manual Upload/Information section

		function openTab(evt, cityName) {
		    // Declare all variables
		    var i, tabcontent, tablinks;

		    // Get all elements with class="tabcontent" and hide them
		    tabcontent = document.getElementsByClassName("tabcontent");
		    for (i = 0; i < tabcontent.length; i++) {
		        tabcontent[i].style.display = "none";
		    }

		    // Get all elements with class="tablinks" and remove the class "active"
		    tablinks = document.getElementsByClassName("tablinks");
		    for (i = 0; i < tablinks.length; i++) {
		        tablinks[i].className = tablinks[i].className.replace(" active", "");
		    }

		    // Show the current tab, and add an "active" class to the link that opened the tab
		    document.getElementById(cityName).style.display = "block";
		    evt.currentTarget.className += " active";
		}


		////////////////////////////////////////////////////////////////////
		/// Text Formatter & Console actions
		function log_format(text) {
			document.getElementById("tab-console").click();
			time =  new Date().toJSON().slice(11,19)
			return ("<br /><span class='console-time'>" + time + "</span>: " + text)
			
		}

		////////////////////////////////////////////////////////////////////
		// Twitter Actions

		function twit_check(bot_id) {
			$.get('/chatbot/'+bot_id+'/twit-check/', function (data) {
			$( ".pandora-logging" ).prepend(log_format(data));
			});
		 }

		 ////////////////////////////////////////////////////////////////////
		 //// Internal database actions 

		 function toggle_bot_ui() {
		 	// Change button text, change icon
		 	toggle_button = $(".chatbot-toggle-button");
			if (toggle_button.text() === "Activate Twittermode") {
				$('#enabled-icon').addClass("icon-active");
				toggle_button.text("Deactivate Twittermode");
			} else { toggle_button.text("Activate Twittermode"); 
			$('#enabled-icon').removeClass("icon-active");}
			
		 }

		 function toggle_bot(bot_id) {
			$.get('/chatbot/'+bot_id+'/bot-enabled/', function (data) {
			$( ".pandora-logging" ).prepend(log_format(data));
			toggle_bot_ui();
			});
		 }

		 function chatlog_load(bot_id) {
			$.get('/chatbot/'+bot_id+'/get-chatlog/', function (data) {
			$( ".chatbot-logging" ).html(data);
			});
		 }

		////////////////////////////////////////////////////////////////////
		/// The below are the calls to pandora_actions.py
		function create_bot(bot_id) {
			$.get('/chatbot/'+bot_id+'/pa-create/', function (data) {
			$( ".pandora-logging" ).prepend(log_format(data));
			});
		  }

		function download_bot(bot_id) {
			$( ".pandora-logging" ).prepend(log_format("Contacting chatbot for files, please wait -"));
			$.get('/chatbot/'+bot_id+'/pa-download/', function (data) {
			$( ".pandora-logging" ).prepend(log_format(data));
			});
		  }

		 function compile_bot(bot_id) {
		 	$( ".pandora-logging" ).prepend(log_format("Attempting to compile chatbot."));
			$.get('/chatbot/'+bot_id+'/pa-compile/', function (data) {
			$( ".pandora-logging" ).prepend(log_format(data));
			});
		  }

			
		 

		 function talkto_bot(bot_id, query) {
			$.post('/chatbot/'+bot_id+'/pa-talk/', { askbot: query ,  csrfmiddlewaretoken: "{{ csrf_token }}"}, function (data) {
			$( ".pandora-logging" ).prepend(log_format(data));
			});
		 }


		 function upload_bot_config(bot_id) {
		 	$( ".pandora-logging" ).prepend(log_format("Starting upload of files currently in setups: {{ twitterbot.get_attached_config_names|join:' , ' }}. <br> This may take some time if you are uploading a large set of files."));
			$.post('/chatbot/'+bot_id+'/pa-upload/', {  csrfmiddlewaretoken: "{{ csrf_token }}"}, function (data) {
			$( ".pandora-logging" ).prepend(log_format(data));
				load_active_files();
			});
		 }

		 function delete_pandora_files(bot_id) {
		 	if (confirm('Are you sure you want to delete active files on the chatbot?')) {
		 		$( ".pandora-logging" ).prepend(log_format("Starting deletion of current '{{ chatbot.pandora_name }}' files, please wait --"));
			    $.post('/chatbot/'+bot_id+'/pa-delete-all/', {  csrfmiddlewaretoken: "{{ csrf_token }}"}, function (data) {
					$( ".pandora-logging" ).prepend(log_format(data));
					load_active_files();
					});
			} else {
			    // Do nothing - user has clicked no
			}
			
		 }

		 function check_sync_status(bot_id) {
            $.post('/chatbot/'+bot_id+'/pa-sync-status/', { csrfmiddlewaretoken: "{{ csrf_token }}"}, function (data) {
                console.log(data);
                if(data == "True"){
                    $("#sync-btn").prop('disabled', true);
                    $("#sync-btn").removeClass("btn-unsynced").addClass("btn-synced");
                    $("#sync-btn").text("Your files are synced with the bot!");
                }
            });
         }

		 function load_active_files() {
					$.get('/chatbot/'+{{ twitterbot.id }}+'/pa-list/', function (data) {
                        console.log(data);
                        output = "<div class='file-list'>"
                        data = data.split("\n");
                        // slice to remove empty final element of array
                        data = data.slice(0, data.length - 1);
                        for(var i = 0; i < data.length; i++){
                            output += " <div class='file-block'>" + "<span> " + data[i] + " </span></div>";
                        }
                        output += "</div>";
                        console.log(output);
                        console.log(data);
                        $( ".active-files" ).html(output); // Python STR \n's to <br>
                    });
				}

		$(document).ready(function() {

				

				// Click "Talk button" when hitting enter on input field
				$("#talk-entry").keypress(function(event){
				    if(event.which == 13){
				        $("#talk-button").click();
				        return false;
				    }
				});


				 // To be called on button click of "delete file" next to specific file types.
				 // Adds a special class to the button as we wait for the API response,
				 // Returns the contents of the span to get filename, returns the response,
				 // and removes the button on completion.
					 $('body').on('click', '.file-block button', function(e) {
					 	filediv = $( this ).parent('.file-block')
					 	filediv.addClass('working-file')
					 	filename = $( this ).parents('.file-block').children('span').html();
					 		
					 		$.post('/chatbot/'+cbot_id+'/pa-delete/', { filename: filename, csrfmiddlewaretoken: "{{ csrf_token }}"}, function (data) {
								$( ".pandora-logging" ).prepend(log_format(data));
								
							});
					 	filediv.slideUp();
					 });

				// The "Attach a new setup" dropdown.

				$('body').on('click', '.cbot-man-add-setup', function(e) {
					$('.cbot-sub-menu').slideToggle()
				});

				// Default Tab
				document.getElementById("tab-console").click();
				load_active_files();
				check_sync_status(cbot_id);

		});


		// EQUAL RIGHTS FOR EQUAL HEIGHTS! I mean. Inequal heights. 
		// Function makes all elements on the same row with the same class of an equal height.
		(function($){

        equalheight = function(container){

        var currentTallest = 0,
             currentRowStart = 0,
             rowDivs = new Array(),
             $el,
             topPosition = 0;
         $(container).each(function() {

           $el = $(this);
           $($el).height('auto')
           topPostion = $el.position().top;

           if (currentRowStart != topPostion) {
             for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
               rowDivs[currentDiv].height(currentTallest);
             }
             rowDivs.length = 0; // empty the array
             currentRowStart = topPostion;
             currentTallest = $el.height();
             rowDivs.push($el);
           } else {
             rowDivs.push($el);
             currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
          }
           for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
             rowDivs[currentDiv].height(currentTallest);
           }
         });
        }

        // Making boxes in the same row the same height.
        $(window).load(function() {
          equalheight('.col-area');
        });
        $(window).resize(function(){
          equalheight('.col-area');
        });

    })(jQuery);




	</script>

	<section class="col-md-8 col-area ">
		<!-- Tab Menu -->
		<ul class="tab">
		  <li><a href="javascript:void(0)" id="tab-console" class="tablinks" onclick="openTab(event, 'console')"><i class="fa fa-comment" aria-hidden="true"></i>{{ twitterbot.title }}</a></li>
		  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'settings')"><i class="fa fa-info-circle" aria-hidden="true"></i> Settings</a></li>
		  <li><a href="javascript:void(0)" class="tablinks" onclick="chatlog_load( {{twitterbot.id }} );openTab(event, 'chatlog');"><i class="fa fa-info-circle" aria-hidden="true"></i> Twitter Response Log</a></li>
		  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'setups')"><i class="fa fa-info-circle" aria-hidden="true"></i> Add/Remove Setups</a></li>
		</ul>
		<!-- END TAB Menu -->

		<!--- End  CONTENTS -->
		<div id="console" class="tabcontent">
			<p class="pandora-logging"></p>
			<div class="talk-primary">
              <input type="text" id="talk-entry"/>
              <p><button class="btn btn-primary btn-talk" id="talk-button" onclick="talkto_bot({{ chatbot.id }} , $('#talk-entry').val())"> Talk </button></p>
            </div> 
		</div>

		<div id="settings" class="tabcontent"> 
			<!-- Begin Twitter/Pandora Settings display -->
			<div class="pandora-details">
				<table class="table table-inverse">
				  <tbody>
				    <tr>
				      <td>Created on</td>
				      <td>{{ twitterbot.created }}</td>
				    </tr>
				    <tr>
				      <td>Pandora Name</td>
				      <td>{{ twitterbot.pandora_name }}</td>
				    </tr>
				    <tr>
				      <td>Hashtags</td>
				      <td>{{ twitterbot.twit_hashtags }}</td>
				    </tr>
				    <tr>
				      <td>Twitter Token</td>
				      <td>{{ twitterbot.twit_token }}</td>
				    </tr>
				    <tr>
				      <td>Twitter Token Secret</td>
				      <td>{{ twitterbot.twit_token_secret }}</td>
				    </tr>
				    <tr>
				      <td>Twitter Customer Key</td>
				      <td>{{ twitterbot.twit_c_key }}</td>
				    </tr>
				    <tr>
				      <td>Twitter Customer Secret</td>
				      <td>{{ twitterbot.twit_c_secret }}</td>
				    </tr>
				  </tbody>
				</table>
				<p>
					<button class="btn btn-primary btn-action btn-validate" onclick="twit_check({{twitterbot.id}})">Check Twitter Details</button> 
				</p>
				<p>
            		<a class="edit-link btn btn-action btn-primary" href="/chatbot/twitterbot/{{ twitterbot.id }}/edit">Edit Twitterbot</a>
            	</p>
			</div>
			<!-- END Twitter/Pandora Settings display -->
			</div>

			<!-- Manual upload has been removed from the UI due to generally confusing users. 
			<div id="manualupload" class="tabcontent">
				<h4 class="bg-primary"><i class="fa fa-file" aria-hidden="true"></i> Manual Upload</h4>
				<div class="upload-form">
					<form action="./pa-archive/" method="post" enctype="multipart/form-data">
				    {% csrf_token %}
				    	<input type="file" class="btn btn-default btn-file" name="archivefile" id="archivefile" title="Upload From PC" value= "Upload a file (ZIP, or AIML)">
				    	<small>Currently accepts ZIP files. You will have to allow some time for the request to finish if you are uploading a large archive. Please note these files will not be saved in your Setups <br />
					    	<div class="help-tip" style="top:-10px">
								<p>Files uploaded via this method will not be saved on this website, but will be added directly to the pandora bot. This may be ideal for quick testing.</p>
							</div>
						</small>
				    	<button class="btn bg-primary btn-primary btn-block" target="_blank" type="submit" value="Submit" >Upload File</button>
					</form>
				</div>
				</div>
				<!-- End Upload Form -->

			<div id="chatlog" class="tabcontent">
				<p class="chatbot-logging"></p>
			</div>

			<div id="setups" class="tabcontent">
              <div class="aiml-setups">
                  <!-- Some boolean filters here to alter link status if this is a public AIML setup -->
                  <h6 class="small-heading">Add & Remove Setups </h6>
                  <ul class="setups-listing">
                      {% if aiml_configs %}
                          {% for aiml in aiml_configs %} 
                                <div class="config-item-wrap item-wrap-2 setups-wrapper" style="padding-top: 7px;">
                                        <li class="container-fluid"> <div class="col-md-4"> {{ aiml.title }}</div>
                                          <div class="col-md-3" title="Number of files in this setup"> <span class="pull-rights">{{ aiml.file_counts }} <i class="fa fa-file icon-border" aria-hidden="true"></i> </span></div>
                                            <div class="col-md-5">
                                            <a title="Remove this setup from the current chatbot" href="remove-setup/{{aiml.id}}"><i class="fa fa-minus text-white"  aria-hidden="true"></i></a>
                                            <a title="Add this setup to the current chatbot" href="add-setup/{{aiml.id}}"><i class="fa fa-plus text-white"  aria-hidden="true"></i> </a>
                                            </div>
          
                                        </li>

                            </div>
                            {% endfor %}


                    {% else %}
                        <div class="bg-success not-found">
                            <strong>You have no Setups for this bot, but you may create one or use other public configurations in the chatbot edit pages.</strong>

                        </div>
                    {% endif %}
                    </ul>  
                </div>
            </div>
			
			<!--- End TAB CONTENTS -->

	</section>


	<section class="cbot-status col-area col-md-4">
        	<div class="twit-activate">			

					<p><button class="btn btn-primary btn-action chatbot-toggle-button" title="Toggle the bot responding to tweets" onclick="toggle_bot({{ twitterbot.id }})">{{ twitterbot.enabled|yesno:"Deactivate Twittermode,Activate Twittermode" }}</button> 
					</p>
			</div>
	</section>

	<section class="cbot-info cbot-file-list col-md-12 cbot-man-last"> 
        <div id="file-sync-box" class="border-segment segment-blue">
        <h4 class="bg-primary">Files in Chatbot Setups
                <div id="help-tipper" class="help-tip help-dark">
                    <p>These are the AIML files which are currently assigned to your chatbot. Remember to sync your files!</p>
                </div>
        </h4>
        <div class="border-segment-wrap">
            

            <div>   

                <!-- Attached Setup "Edit"/"Listing" Menu -->
                <div class="setup-file-index">
                    {% if chatbot.aiml_config %}
                        <div class="c-man-setup-index">
                            {% for aiml in chatbot.aiml_config.all %} 
                                <div class="c-man-setup-group">
                                    <h6>{{ aiml.title }} <a class="edit-button-small {{ aiml.is_public|yesno:"display-none," }}" href="/admin/chatbot/aiml_config/{{ aiml.id }}/" title="Edit this chatbot's settings"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    </h6>
                                    {% for file in aiml.get_files %}
                                    <div class="file-block">{{ file.get_simplename }}</div>
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="bg-success not-found">
                            <small>No setup configurations are attached to this chatbot. Add some via the chatbot settings or create a new one <a href="">here</a></small>
                        </div>
                    {% endif %}
                </div>

                <p><button id="sync-btn" class="btn btn-primary btn-unsynced" onclick="upload_bot_config({{chatbot.id}})">Sync files with your chatbot!</button>
                </p>
                <!-- END Attached Setup "Edit"/"Listing" Menu -->
                    
            </div>
        </div>
        </div>
    </section>
	
	
{% endblock content %}