{% extends "admin/base_site.html" %}

{% block content %}


<div class="container-fluid">
    <script>
        $(window).scroll(function(){
            if($(this).scrollTop() > 100) {
                $('.table-of-contents').stop().animate({ right: '2px'});
            } else {
                $('.table-of-contents').stop().animate( { right: '-400px'});

            }
        });
    </script>
<div class="table-of-contents">
    <table class="table table-inverse table contents pull-left">
			 <thead class="thead-inverse">
			    <tr><th>Guide Contents</th></tr>
			  </thead>
			  <tbody>
			    <tr><td><a href="#the-basics">The Basics: Creating and Teaching</a></td></tr>
			    <tr><td><a href="#core-skills">Core Skills: Random, Wildcards and Sets</a></td></tr>
			    <tr><td><a href="#conversation-flow">Conversation Flow: That and Topic</a></td></tr>
                <tr><td><a href="#advanced-bottery">Advanced Bottery: Maps and Recursion</a></td></tr>
			  </tbody>
    </table>
    <a href="https://playground.pandorabots.com/en/bot/" target="_blank">
        <div class="pandora-link">
            Go To Pandorabots Playground
        </div>
    </a>
</div>
<div class="col-sm-9"> 
    <section id="the-basics">
        <h3>Creating a Teacherbot on the Playground</h3>
        <p>To get started, go to the <a href="https://playground.pandorabots.com/">Pandorabot Playground website</a> and register for an account. Once you have done this, click on <strong>My Bots</strong> in the blue header menu and create a new Bot by clicking on <strong>Create Bot</strong>.</p>
        <br>

        <p>Once your bot is created you can start asking questions and adding responses to build a database of question and answer pairs. For a simple question-answer response you’ll need to ask your bot a question, add in your response, and click ‘Say Instead’. Next time you ask the same question your bot will respond as you have instructed.</p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/login_basic_learn.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>

        <br>

        <h3>Teaching the Teacherbot</h3>
        <p>Make your way into the files tab and click on the file labelled pand_learn. This file is your bot’s brain. As you can see the layout of a bot interaction is as follows:
        &lt;category&gt;&lt;pattern&gt;<strong>QUESTION</strong>&lt;/pattern&gt;&lt;template&gt;<strong>response</strong>&lt;/template&gt;&lt;/category&gt;<br>
        You can also add information in this section, as long as you follow the response template. Keep in mind, all questions that you ask have to be written in CAPITALS without punctuation.
        </p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/pand_learn_training.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>
        <br>
        <br>

        <p>You will have noticed that pand_learn is written in a programming language. This language is <strong>AIML</strong>: Artificial Intelligence Markup Language. As you continue through these tutorials you will develop a working knowledge of this language, but the two main things to remember are: <br>
        <ul>
            <li>Tags come in pairs and should be opened and closed ( &lt;category&gt;  &lt;/category&gt; )</li><br>
            <li>All your code should be placed between the &lt;aiml&gt; tags
        </ul>
        

        </p>
        <br>
    </section>

    <section id="core-skills">
        <h3>Randomized Responses</h3>
        <p>This is a useful function to make your bot appear more intelligent. We can create a list of responses linked with one question, so when the bot is asked that question it can respond with an answer randomly chosen from the list. It is recommended to take a new line for each tag, to improve clarity.</p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/using_random.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>

        <br>

        <h3>Wildcards</h3>
        <p>Wildcards allow for a bit more flexibility when asking questions and recognising user input, as people can ask the same question in a hundred different ways. Wildcards act as placeholders for a set number of words.</p>
        <br>
        <p>There are 2 types of wildcards, firstly we will look at the <strong>^</strong> wildcard, which is a placeholder for zero or more words.</p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/wildcard_hat.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>

        <br>
        <p>Secondly, the <strong>*</strong> wildcard, is a placeholder for one or more words. This wildcard is a bit more limited as it requires at least 1 word where you have placed the wildcard.
        </p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/wildcard_star.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>

        <h3>Synonym Sets</h3>
        <p>Sets are important because people will ask the same question in different ways, often using different words which have the same meaning, i.e synonyms. Including synonym sets means that there is a greater chance that your bot will recognise user input. In order to do this, we have to create set files.
        It is important to note that the text between the set tags are written in lowercase, along with the words within the set file, whilst all the remaining text is in uppercase.
        </p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/using_sets.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>
        <br>

    </section>

    <section id="conversation-flow">
        <h3>Who That?</h3>
        <p>The That function is a way of creating a short conversation flow between the bot and users. It is used to continue a conversation from the previous question asked. For example:
        </p>
        <br>
        <p><strong>Student:</strong> <i>'When is the assignment deadline?'</i></p><br>
        <p><strong>Teacherbot:</strong> <i>'Which assignment deadline?'</i></p><br>
        <p><strong>Student:</strong> <i>'The first one'</i></p><br>
        <p><strong>Student:</strong> <i>'The deadline for the first assignment is the 20th November'</i></p><br>
        </p>

        <p>In the example above Teacherbot will only respond to the question <i>'The first one' </i> if its previous response was <i>'Which assignment deadline?</i>. If you are adding That tags through the <strong>pand_learn</strong> file remember that all characters inside the That tag need to be uppercase and without punctuation.
        </p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/using_that.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>

        <h3>Topical Punch</h3>
        <p>The Topic function introduces a topic into the conversation by grouping categories together under a common theme. This allows you to specify different answers to the same questions that depend on the Topic of the conversation.
        </p>
        <br>
        <p>In order to set the topic we have to use the familiar set tags as follows:<br> &lt;set name = "topic"&gt;<strong>Insert Topic Name Here</strong>&lt;/set&gt;<br> We can then include topic tags: <br>&lt;topic name = "<strong>Insert Topic Name Here</strong>"&gt;&lt;/topic&gt; <br> To add interactions within a topic we add the standard category, pattern and template tags between the topic tags.</p><br>
        <p>The video below shows the creation of two topics corresponding to two of the students courses. The student can ask general questions about deadlines and marking and get specific answers depending on the topic of conversation (Economics 1A or Mathematical Proofs).
        </p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/using_topic.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>
    </section>

    <section id="advanced-bottery">
        <h3>The Illustrious Map</h3>
        <p>In order to understand maps, we first need to cover how to use the &lt;star/&gt; function. The &lt;star/&gt; is used to get the value of a * wildcard (explained above). Note the star function does not have an opening and closing tag as most others do, it is implemented with a single &lt;star/&gt;.</p> <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/star_tag.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>
        <br>
        <br>

        <p>
        Now to tackle Maps, Maps are name-value pairs which act as a database. For example we could build a Map of assignment deadlines, with the name of an assignment and its associated deadline/value.
        </p>
        <br>
        <p> The video below shows the creation of an assignment deadlines map. 
        In the category, the name of the map file must be specified using: &lt;map name = "<strong>Insert Map File Name Here</strong>"&gt;.<br> The &lt;star/&gt; tag is then placed in between the map tags. The star value acts as the name, and the map file is searched to find a corresponding value; in our case the deadline date. 
        </p>
        <br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/using_maps.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>
        <br>

        <h3>Recursion</h3>
        <p>Don't be intimidated by the name, recursion is a simple and straightforward function. It can be used to replace colloquial expressions and correct spelling errors, making the bot adaptable.</p> <br>
        <p>Recursion is implemented through the &lt;srai&gt; tags, allowing you to reuse the answer from a previous question. As is shown below, the &lt;srai&gt; tags are placed in the &lt;template&gt; tags redirecting to the associated response.</p><br>

        <video width="920" height="400" controls> 
            <source src="/static/videos/get_started/using_srai.mp4" type="video/mp4">
            Your browser does not support our videos.
        </video>
        <br>
    </section>
    

{% endblock content %}
</div>