{% extends "admin/base_site.html" %}

{% block content %}

<div class="container-fluid">
<h3>What is Pandorabots?</h3>
<p>Pandorabots is a service which provides an artificial intelligence personality service. At the most basic level this provides the functionality to answer questions which match a specific key phrase, and beyond this you can dynamically map sentence grammar and information to allow your bot to answer questions on subjects delivered in natural English language. We use the Pandorabots platform to manage the chatbots you are going to build for Twitter. For this purpose and to make things easier for you, we built this chatbot management website that does all the work for you. Your chatbot data will be uploaded to our chatbot management website, and from there it can be uploaded to the Pandorabots server which is linked to your Twitter chatbot account.</p>
    
<p>If you are interested you can find out more about Pandorabots as a service <a href="https://pandorabots.com/">here</a>.</p>

<h3>What is AIML</h3>
<p>AIML is a markup language &ndash; which in this case means it is written in a mixture of human readable text, and machine readable tags throughout in order to provide a middle ground between human and robot.</p>
<p>You can either write AIML by hand, which may initially be more difficult but in the long run will be more efficient and provide a greater understanding, or there are various tools available to make the process easier.</p>
<p>Some links are provided below for both learning and manipulating AIML. Given that this is one of the main steps in deploying useful chatbots, any suggestions or feedback which would help us improve this process are always appreciated!</p>

<p>Our advice on the first steps with AIML is to visit the Pandorabots Playground, and work through our <a href="../playground-guide">Playground Guide</a> until you're comfortable with the basic concepts. If you are comfortable with basic coding, you can have a look at this <a href="https://www.tutorialspoint.com/aiml/aiml_quick_guide.htm">AIML Guide</a>. There's no need to write your chatbot knowledge on the Playground, you can use any text editor of your choice.</p>
<ul>

<li><p><a href="https://playground.pandorabots.com/en/"> Pandorabots Playground</a></p></li>
<li><p><a href="http://www.riotsw.com/downloads/SAE_v.0.2.0.zip"> Simple Desktop AIML editor</a></p></li>
<li><p><a href="https://github.com/pandorabots/rosie/archive/master.zip">Rosie AIML Files</a> - a small talk database and good starting point for building your chatbot.</p></li>
<li><p><a href="https://www.tutorialspoint.com/aiml/aiml_quick_guide.htm">AIML Guide</a></p></li>
<li><p><a href="https://docs.pandorabots.com/aiml/">AIML reference for the available tags</a></p></li>   
</ul>

{% endblock content %}
</div>